<h1>Create Rental Request</h1>

<%= render "shared/errors" %>

<form action="<%= car_rental_requests_url %>" method="post">
  <label for="car_rental_request_car_id">Car</label>
  <select name="car_rental_request[car_id]"
          id="car_rental_request_car_id">
    <option></option>
    <% Car.all.each do |car| %>
      <% selected = @rental_request.car_id == car.id %>
      <option <%= selected ? "selected" : "" %>
              value="<%= car.id %>">
        <%= car.name %>
      </option>
    <% end %>
  </select>
  <br>

  <label for="car_rental_request_start_date">Start Date</label>
  <input
    type="date"
    name="car_rental_request[start_date]"
    value="<%= @rental_request.start_date %>"
    id="car_rental_request_start_date">
  <br>

  <label for="car_rental_request_end_date">End Date</label>
  <input
    type="date"
    name="car_rental_request[end_date]"
    value="<%= @rental_request.end_date %>"
    id="car_rental_request_end_date">
  <br>

  <input type="submit">
</form>
