<div class="h1-form">
    <h1 class="h1-h1">Rental Request</h1>
</div>

<%= render "shared/errors" %>

<div class="create-car">

<form action="<%= car_rental_requests_url %>" method="post">
<input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label class="text-name-2" for="car_rental_request_car_id">Car</label>
  <select name="car_rental_request[car_id]"
          id="car_rental_request_car_id" >
    <option></option>
    <% Car.all.each do |car| %>
      <% selected = @rental_request.car_id == car.id %>
      <option <%= selected ? "selected" : "" %>
              value="<%= car.id %>">
        <%= car.name %>
      </option>
    <% end %>
  </select>
  <br>

  <label class="text-name-2" for="car_rental_request_start_date">Start Date</label>
  <input
    type="date"
    name="car_rental_request[start_date]"
    value="<%= @rental_request.start_date %>"
    id="car_rental_request_start_date">
  <br>

  <label class="text-name-2" for="car_rental_request_end_date">End Date</label>
  <input
    type="date"
    name="car_rental_request[end_date]"
    value="<%= @rental_request.end_date %>"
    id="car_rental_request_end_date">
  <br>

  <button type="submit" class="my-button-color-2">Submit </button>
</form>
</div>