<nav class="navbar navbar-expand-sm navbar-light" >
  <div class="container">
  
    <a class="navbar-brand" href="/cars" >
      <%= image_tag("Carro2.jpg", :alt => "reddit logo", style: 'height:43px;width:86px;') %>
    </a>

    
      <ul class="nav nav-ul justify-content-end">
      <% if current_user %>

        <li class="nav-item">
            <a class="nav-i become-a-host"href="<%= new_car_url %>"> Become a host </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-i" aria-current="page"><%= current_user.username %></a>
        </li>

        <li class="nav-item">
          <a class="nav-i" aria-current="page"><%= button_to "Logout", session_url, method: :delete %></a>
        </li>

        <% else %>

        <li class="nav-item nav-item2">

        <li class="nav-item">
            <a class="nav-i become-a-host"href="<%= new_car_url %>"> Become a host </a>
        </li>


        <li class="nav-item">
          <a class="nav-i" aria-current="page" href="<%= new_user_url %>">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-i" aria-current="page" href="<%= new_session_url %>">Log In</a>
        </li>
            
        </li>

      <% end %> 

        
      </ul>

      
      

  </div>
</nav>
