<% action = (car.persisted? ? car_url(car) : cars_url) %>
<% method = (car.persisted? ? :patch : :post) %>

<div class="create-car">
  <%= form_for (@car) do |f|%>

    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>

    <%= f.label :year %><br>
    <%= f.text_field :year %><br>

    <%= f.label :mpg %><br>
    <%= f.text_field :mpg %><br>

    <%= f.label :doors %><br>
    <%= f.text_field :doors %><br>

    <%= f.label :gas %><br>
    <%= f.text_field :gas %><br>

    <%= f.label :seats %><br>
    <%= f.text_field :seats %><br>

    <%= f.label :images %><br>
    <%= f.file_field :image %><br>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>

    <%= f.submit %>
  <% end %>
</div>
