
<div class="nature_car">
  <%= image_tag("nature_car.jpg", :alt => "yellow car") %>
</div>

<div class="main-container">
    <p id="p-main-container">Find your drive<p>
    
    <h5 id="h5-main-container"> Explore the world's largest car sharing marketplace</h5>

    <a href="<%= new_car_url %>">
      Add Car
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </nav>
    <% @cars.each do |car| %>
      <div class="car-index-item">
        <div>
          <br /><a href="<%= car_url(car) %>">Rent <%= car.name %></a>
          <%= image_tag car.image, style: "width: 251px; display: block"  %>
        </div>
      </div>
    <% end %>
  </div>


