
<div class="nature_car">
  <%= image_tag("nature_car.jpg", style: "height: 88vh; width: 104%;") %>
</div>

  <div class="main-container">
      <p id="p-main-container">Find your drive<p>
      
      <h5 id="h5-main-container"> Explore the world's largest car sharing marketplace</h5>
  </div>

  <div class="browse-cars-2">
    <%= image_tag("carr.png", :class => "car-image") %>
    <div class="h6-p-div">
      <h6 id="browse-cars-h6"> Find the perfect car <span>to <br>conquer the great outdoors </span></h6>
      <p class="browse-cars-p">Go prepared in a rugged 4x4 to take on winter roads <br>
       with ease,
      or a camper van to take you to the trees.</p>

      <a href="cars/browse">
        <button type="button" class="my-button-color">Browse cars </button>
      </a>

    </div>
  </div>

   <div class="main-container-2">
      <h2 class="h2-fuel-your-daydreams">Fuel your daydreams</h2>
      <p class="browse-cars-p"> Stoke your wanderlust with some dreamy photo chronicles of road trip adventures.</p>
  </div>

  <div class="browse-cars">
    <%= image_tag("car4.jpg", style: "width:32%; display:inline; padding-left:11%") %>
    <div class="h6-p-div-2">
      <h6 id="browse-cars-h6"><a href="cars/browse"> <span class="car-host"> Book a car > </span></a></h6>
      <p class="browse-cars-p">Down the street or across the <br> country, find the perfect vehicle <br> for your next adventure.</p>
    </div>
  </div>

  <div class="browse-cars-3">
    <%= image_tag("key.png", style: "width:17%; display:inline; padding-left:35%") %>
    <div class="h6-p-div-3">
      <h6 id="browse-cars-h6"><a href="<%= new_car_url %>"> <span class="car-host">Become a host > </span></a></h6>
      <p class="browse-cars-p">Accelerate your entrepreneurship <br> and start building a small car sharing<br> business on Turo.</p>
    </div>
  </div>

   <div class="div-questions">
      <h3 class="h3-questions"> Frequently asked questions </h3>
  </div>

  <div class="div-answers">

        <div class="div-answer-1 div-answer">

          <p><a onclick="javascript:ShowHide('HiddenDiv')">What do I need to book a car on Carro? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv" style="display: none; color:black; font-size: 15px; font-weight: 400; margin-top: 2%;">
            
                  To book a car on Turo, you must create a Turo account, be 18 years old <br>
                      or older in the US, 21 years old or <br>
                  older in the UK, 23 years old or older in Canada, have a valid driver’s license, and get approved to <br>
                  drive on Turo. When you’re booking your first trip, you’ll go through a <br> 
                  quick approval process by entering your driver’s license and some <br>
                  other information. In most cases, you’ll get approved immediately, <br>
                  and you’ll be set for all future road trips, day trips, and business trips!
              
            </div>
        </div>

      <div class="div-answer-2 div-answer">

        <p><a onclick="javascript:ShowHide2('HiddenDiv2')">What happens if I have an accident? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv2" style="display: none;color:black; font-size: 15px; font-weight: 400; margin-top: 2%;">
            
                 If there’s an emergency or an issue with the car, call our emergency <br>
                 roadside assistance provider, available 24/7. We’ll make sure you’re <br>
                 safe, then help you get back on your way.
            </div>
      </div>


  </div>     

    <div class="div-answers">

        <div class="div-answer-1 div-answer">

        <p><a onclick="javascript:ShowHide('HiddenDiv3')">Do I need my own insurance? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv3" style="display: none;color:black; font-size: 15px; font-weight: 400; margin-top: 2%;"> 
            
                  No, you don’t need personal insurance coverage to book a car on<br>
                   Carro.

                  In the US, any personal insurance you may have that covers damage <br>
                  to the host’s vehicle would kick in before your Turo protection plan,<br>
                   except in limited situations for trips booked in Maryland. When <br>
                   booking a car in the US, you’ll choose between three protection <br>
                   plans — Premier, Standard, or Minimum — to get the level of <br>
                   coverage that’s right for you. With each plan, you’re covered with <br>
                   third-party automobile liability insurance provided under a policy<br>
                    issued to Turo by Travelers Excess and Surplus Lines Company — <br>
                    $750,000 for the Premier plan.*
                    <br>
                  When booking a car in Canada, you’ll choose between three<br>
                   protection plans — Premier, Standard, or Minimum — and with each<br>
                    plan, you’re covered with liability insurance purchased from Intact<br>
                     Financial Corporation in Alberta, Nova Scotia, Ontario, and Quebec, <br>
                     and Insurance Corporation of British Columbia (ICBC) in British<br>
                      Columbia — up to $2,000,000 for all plans.**
                  <br>

                  When booking a car in the United Kingdom, you’ll also<br>
                   choose between the Premier, Standard, and Minimum protection plans. Each <br>
                   plan includes different limits of financial responsibility for physical<br>
                    damage, but all three plans include up to £20,000,000 coverage<br>
                     under a third-party automobile liability insurance policy provided by <br>
                     Aioi Nissay Dowa Insurance UK Ltd. via Carro broker Aon UK Ltd.**
              
            </div>
        </div>

      <div class="div-answer-2 div-answer">

        <p><a onclick="javascript:ShowHide2('HiddenDiv4')">Can I get my car delivered to me? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv4" style="display: none;color:black; font-size: 15px; font-weight: 400; margin-top: 2%;">
            
                 Yes, many hosts offer delivery to travel hubs like airports, train<br>
                  stations, and hotels, or to custom delivery locations. There are cars<br>
                   available on Turo at convenient locations near hundreds of airports.<br>
                    Skip the rental counter and have your car delivered for pickup and<br>
                     return at your hotel or vacation rental, or nearby location, to save<br>
                      time and hassle on your weekend getaway or family vacation. Some<br>
                       hosts offer free delivery, while others set their own delivery fee.


            </div>
      </div>

      <div class="div-answer-1 div-answer">

        <p><a onclick="javascript:ShowHide('HiddenDiv5')">Can other people drive a car that I booked? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv5" style="display: none;color:black; font-size: 15px; font-weight: 400; margin-top: 2%;"> 
            
                  Yes, multiple guests can drive the car you book on Carro, as long as <br> 
                  they are all approved to drive. The primary driver (whoever booked<br>
                   the car) can add additional drivers with no fees or additional<br>
                    charges. Only the primary driver can request to add drivers; Turo<br>
                     hosts cannot do it for you. We encourage you to request to add<br>
                      additional drivers before your trip starts, though guests in the US<br>
                       and Canada can request to add a driver while a trip is in progress. <br>

                  To speed up the process, have your additional driver create a Carro<br>
                  account and get approved to drive before you request to add them. <br>
                  All drivers must have a valid driver’s license and meet the age<br>
                    requirements for the car you’ve booked. 
              
            </div>
      </div>

      <div class="div-answer-2 div-answer">

        <p><a onclick="javascript:ShowHide2('HiddenDiv6')">What are the cleaning and safety policies on Carro? <i class="fas fa-angle-down"></i></a></p>
            <div class="mid" id="HiddenDiv6" style="display: none;color:black; font-size: 15px; font-weight: 400; margin-top: 2%;">
            
                 Under the enhanced cleaning policy, hosts are required to clean and <br>
                 disinfect their vehicles thoroughly before every trip, so you can feel<br>
                  safe and comfortable behind the wheel. Turo hosts have access to<br>
                   training materials on enhanced safety measures and cleaning<br>
                    practices to help prevent the spread of COVID-19 or other viruses.

            </div>
      </div>


  </div>  






    <script type="text/javascript">
        function ShowHide(divId)
        {
        if(document.getElementById(divId).style.display == 'none')
        {
        document.getElementById(divId).style.display='block';
        }
        else
        {
        document.getElementById(divId).style.display = 'none';
        }
        }

        function ShowHide2(divId)
        {
        if(document.getElementById(divId).style.display == 'none')
        {
        document.getElementById(divId).style.display='block';
        }
        else
        {
        document.getElementById(divId).style.display = 'none';
        }
        }
    </script>


  

  <br>
  <br>
  <br>
  <br>



